<%- include("partials/header") %>

<section id="formContainerBox" class="ui very padded">
  <form id="formContainerForm" class="ui form" action="/blogs/edit/<%= foundPost.id %>" method="POST"
    enctype="multipart/form-data">
    <div class="field">
      <h3>You are editing the post "<strong><%= foundPost.title %></strong>"</h3>
    </div></br>
    <div class="field required">
      <label for="Post Title">Post Title</label>
      <input type="text" maxlength="200" id="Post Title" name="title" placeholder="Post Title" autocomplete="off"
        value="<%= foundPost.title %>" required>
    </div>



    <div class="fields required">
      <div class="two wide inline field" id="Label-Image">
        <label for="Image">Image</label>
      </div>

      <div class="ten wide inline field">
        <input type="text" id="Image-Input" class='show' name="image_default" autocomplete="off"
          value="<%= foundPost.image %>" readonly>
        <input type="file" id="Image-File" class='hide' name="image_update" placeholder="Image URL" autocomplete="off">
      </div>

      <div class="two wide inline field">
        <button type='button' id="Default-Button" class="ui secondary button">Old</button>
      </div>

      <div class="two wide inline field">
        <button type='button' id="Update-Button" class="ui button">New</button>
      </div>
    </div>



    <div class="field required">
      <label for="details">Post Details</label>
      <textarea id="details" name="details" placeholder="Details" required><%= foundPost.body %></textarea>
    </div>
    <button class="ui positive basic button" type='submit'>Update Post</button>
  </form>
</section>


<script>
  const imageFileDefault = document.querySelector('#Image-Input')
  const imageFileInput = document.querySelector('#Image-File')
  const btn_chooseDefault = document.querySelector('#Default-Button')
  const btn_chooseUpdate = document.querySelector('#Update-Button')

  btn_chooseDefault.addEventListener('click', () => { chooseDefault() })
  btn_chooseUpdate.addEventListener('click', () => { chooseUpdate() })

  function chooseDefault() {
    imageFileDefault.classList.remove('hide')
    imageFileDefault.classList.add('show')
    imageFileInput.classList.add('hide')
    imageFileDefault.classList.remove('show')
    imageFileInput.value = ''
    imageFileInput.removeAttribute('required')
  }

  function chooseUpdate() {
    imageFileDefault.classList.remove('show')
    imageFileDefault.classList.add('hide')
    imageFileInput.classList.add('show')
    imageFileInput.classList.remove('hide')
    imageFileInput.setAttribute('required', 'required')
  }
</script>

<%- include("partials/footer") %>