<%- include("partials/header") %>

<section id="blogPosts" class="ui divided items">

    <header>
        <h1><i class="comment outline icon"></i> /:urBlog Posts</h1>

        <% if (info.length > 0) { %>
        <div>
            <div class="ui blue message"><%= info %></div>
        </div>
        <% } %>

        <% if (error.length > 0) { %>
        <div>
            <div class="ui red message"><%= error %></div>
        </div>
        <% } %>

    </header>

    <%if (blogs.length === 0) { %>
    <article class="item">
        <div>
            <div class="ui blue message">
                <h3>Your blog is empty</h3>
            </div>
        </div>
    </article>
    <% } else { %>
    <% blogs.forEach(post => { %>
    <article class="item">
        <div class="image">
            <img src="<%= post.image %>" class="ui medium rounded" alt="<%= post.title %>"
                onerror="this.onerror=null;this.src='<%= errorImage %>'">
        </div>
        <div class="content">
            <div>
                <a class="header"><%= post.title %></a>
                <div class="meta">
                    <span class="cinema"><%= post.created.toDateString() %>
                        <%= moment(post.created).fromNow() %></span>
                </div>
                <div class="description">
                    <p><%= post.body.substring(0, 150) %>...</p>
                </div>
            </div>
            <div class="extra">
                <a href="/blogs/<%= post._id %>">
                    <button class="ui positive basic button">Read More</button>
                </a>
            </div>
        </div>
    </article>
    <% }) %>
    <% } %>

    <div class="navigation-container">
        <% if (next > 2) { %>
        <button class="navigation-button-back ui left labeled icon button">
            <i class="left arrow icon"></i>
            Back
        </button>
        <% } %>

        <a href="/blogs?page=<%=next%>">
            <button class="navigation-button-next ui right labeled icon button">
                <i class="right arrow icon"></i>
                Next
            </button>
        </a>
    </div>

</section>

<% if (next > 2) { %>
<script>
    const backBtn = document.querySelector('.navigation-button-back')
    backBtn.addEventListener('click', () => { history.back() })
</script>
<% } %>

<%- include("partials/footer") %>