<%- include("partials/header") %>

<section id="blogPosts" class="ui divided items">

    <header>
        <h1><i class="comment outline icon"></i> /:urBlog Posts</h1>

        <% if (info.length > 0) { %>
        <div>
            <div class="ui blue message"><%= info %></div>
        </div>
        <% } %>

        <% if (error.length > 0) { %>
        <div>
            <div class="ui red message"><%= error %></div>
        </div>
        <% } %>

    </header>

    <%if (blogs.length === 0) { %>
    <article class="item">
        <h3>Your blog is empty</h3>
    </article>
    <% } else { %>
    <% blogs.forEach(post => { %>
    <article class="item">
        <div class="image">
            <img src="<%= post.image %>" class="ui medium rounded" alt="<%= post.title %>">
        </div>
        <div class="content">
            <a class="header"><%= post.title %></a>
            <div class="meta">
                <span class="cinema"><%= post.created.toDateString() %>
                    <%= moment(post.created).fromNow() %></span>
            </div>
            <div class="description">
                <p><%= post.body.substring(0, 150) %>...</p>
            </div>
            <div class="extra">
                <div class="ui label">
                    <a href="/blogs/<%= post._id %>">
                        <button class="ui positive basic button">Read More</button></a>
                </div>
            </div>
        </div>
    </article>
    <% }) %>
    <% } %>

    <div class="navigation-container">
        <% if (next > 2) { %>
        <button class="navigation-button-back">Back</button>
        <% } %>

        <a href="/blogs?page=<%=next%>">
            <button class="navigation-button-next">Next</button>
        </a>
    </div>

</section>

<% if (next > 2) { %>
<script>
    const backBtn = document.querySelector('.navigation-button-back')
    backBtn.addEventListener('click', () => { history.back() })
</script>
<% } %>

<%- include("partials/footer") %>